In [4]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [5]:
# Load the dataset
job_df = pd.read_csv('FinalDataSetJobOffers.csv')

In [6]:
# Feature Extraction
X = job_df[['Location', 'Required skills']]

In [7]:
# Convert Location and Required skills to numeric values
X['Location'] = pd.factorize(X['Location'])[0]
X['Required skills'] = pd.factorize(X['Required skills'])[0]

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5780\2784429265.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Location'] = pd.factorize(X['Location'])[0]
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5780\2784429265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Required skills'] = pd.factorize(X['Required skills'])[0]

In [8]:
# KMeans Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(X)

KMeans(n_clusters=3, random_state=42)

In [9]:
# Add cluster labels to the dataset
job_df['Cluster'] = kmeans.labels_

In [10]:
# Print the top 10 job posts for each cluster
for cluster in range(3):
    print(f'Cluster {cluster}:')
    print(job_df[job_df['Cluster']==cluster]['Job post'].head(10))

Cluster 0:
10118         asp.net softwar develop
10119                 softwar develop
10120                  senior develop
10121              senior php develop
10122         senior back end develop
10123             project manag other
10124          senior android develop
10125         senior quickbas develop
10126                  account execut
10127    senior salesforc cpq develop
Name: Job post, dtype: object
Cluster 1:
0                 inform technolog execut
1    associ director-inform technolog sap
2                   lead inform technolog
3          inform technolog project manag
4                 inform technolog traine
5                        inform technolog
6                inform technolog telecom
7             manager-it inform technolog
8        senior manager- inform technolog
9                inform technolog telecom
Name: Job post, dtype: object
Cluster 2:
20049                         senior data analyst sme bank
20080                                         busi develop
20092                                         busi analyst
20098    senior analyst/ assist manag fix incom credit ...
20110                                         busi analyst
20112                                    technic architect
20125                      allianc partership assist manag
20128                     java develop w/ cloud background
20129                                  senior busi analyst
20130                            social medium sr. analyst
Name: Job post, dtype: object